<%- include("partials/header.ejs") %>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators"> <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
            aria-label="Slide 1"></button> <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
            aria-label="Slide 2" class=""></button> <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button> <button type="button" data-bs-target="#myCarousel"
            data-bs-slide-to="3" aria-label="Slide 4" class="active" aria-current="true"></button> </div>
    <div class="carousel-inner">
        <div class="carousel-item active"> 
            <img src="images/index/Nails-spa2.jpg" alt="Nailspa">
        </div>
        <div class="carousel-item"> 
            <img src="images/index/pedicure2.jpg" alt="pedicure">
        </div>
        <div class="carousel-item">
            <img src="images/index/wax2.jpg" alt="waxing">
        </div>
        <div class="carousel-item"> 
            <img src="images/index/HeadSpa2.jpeg" alt="headspa">
        </div>
    </div> <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev"> <span
            class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
    </button> <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing py-4"> <!-- Three columns of text below the carousel -->
    <div class="row text-center g-4">
        <div class="col-12 col-md-4">
            <img src="images/index/confident.jpg" alt="feelconfident" aria-label="Placeholder" class="bd-placeholder-img rounded-circle" height="200"
                preserveAspectRatio="xMidYMid slice" role="img" width="200" style="object-fit:cover;">
            <h2 class="fw-normal pt-3">Feel Confident</h2>
            <p>Walk out with nails that make you feel polished, confident, and put together.</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="images/index/model2.jpeg" alt="model2" aria-label="Placeholder" class="bd-placeholder-img rounded-circle" height="200"
                preserveAspectRatio="xMidYMid slice" role="img" width="200" style="object-fit:cover;">
            <h2 class="fw-normal pt-3">Look Your Best</h2>
            <p>We stay on top of trends so you always get modern, stylish designs.</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="images/index/treat-yourself.png" alt="model3-treat" aria-label="Placeholder" class="bd-placeholder-img rounded-circle" height="200"
                preserveAspectRatio="xMidYMid slice" role="img" width="200" style="object-fit:cover;">
            <h2 class="fw-normal pt-3">Treat Yourself</h2>
            <p>Because you deserve time to relax, recharge, and feel fantastic.</p>
        </div>
    </div><!-- /.row --> <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette py-5">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Feel Fantastic. <span
                    class="text-body-secondary">Look Unstoppable.</span></h2>
            <p class="lead">Where beauty meets precision, and every detail is designed just for you.
            
            Welcome to Fantastic Nails — your destination for confidence, care, and flawless style.</p>
        </div>
        <div class="col-md-5"> 
            <img src="images/index/Nailsmodel1.jpg" alt="Model1" aria-label="Placeholder: 500x500"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow" height="500"
                preserveAspectRatio="xMidYMid slice" role="img" width="500">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette py-5">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Great nails do more than complete your look</h2>
            <p class="lead">Whether you’re here for a quick refresh or a full pampering session, our skilled technicians deliver exceptional results
            with care, cleanliness, and creativity at the heart of everything we do.
            </p>
            <p style="font-style: italic;">This is your time to relax, recharge, and leave feeling truly fantastic.</p>
        </div>
        <div class="col-md-5 order-md-1"> 
            <img src="images/index/RelaxingPedicure.webp" alt="relaxingpedi" aria-label="Placeholder: 500x500"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow" height="500"
                preserveAspectRatio="xMidYMid slice" role="img" width="500">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette py-5">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Expert Care. <span
                    class="text-body-secondary">Stunning Results.</span></h2>
            <ul>
                <li class="lead">Classic & Deluxe Manicures.</li>
                <li class="lead">Head Spa & Pedicure Spa for Ultimate Relaxation.</li>
                <li class="lead">Gel, Acrylic & Dip Powder Enhancements with Custom Nail Art.</li>
                <li class="lead">Waxing and facial beauty services.</li>.
            </ul>
            <a href="tel:+13607364123" class="btn btn-lg mt-2" style="background-color: #4a2060; color: white;">
                📞 Call Us: (360) 736-4123
            </a>
            
        </div>
        <div class="col-md-5"> 
            <img src="images/index/CustomerService.jpeg" alt="CustomerService" aria-label="Placeholder: 500x500"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow" height="500"
                preserveAspectRatio="xMidYMid slice" role="img" width="500">
        </div>
    </div>
    <hr class="featurette-divider"> <!-- /END THE FEATURETTES -->
</div>


<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="height: auto;">
    <div class="px-4 pt-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Your Confidence Starts Here🌿</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">At Fantastic Nails, it’s more than a service — it’s an experience.
    
                Walk in for nails.
                Leave feeling confident, refreshed, and absolutely fantastic.</p>
        </div>
    </div>
    <div class="carousel-inner h-auto">
        <div class="carousel-item active">
            <img src="images/index/CND_logo.png" class="d-block w-100" alt="CND">
        </div>
        <div class="carousel-item">
            <img src="images/index/DND.png" class="d-block w-100" alt="DND">
        </div>
        <div class="carousel-item">
            <img src="images/index/Chisel_logo.png" class="d-block w-100" alt="Chisel">
        </div>
        <div class="carousel-item">
            <img src="images/index/OPI-logo.png" class="d-block w-100" alt="OPI">
        </div>
        <div class="carousel-item">
            <img src="images/index/Kiara_logo.png" class="d-block w-100" alt="Kiara">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<%- include("partials/footer.ejs") %>