<%- include("partials/header.ejs") %>
<section class="manicures py-4 py-md-5">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">MANICURES</h1>
        <p class="fs-5 text-body-secondary">Fantastic Nails & Spa</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center w-75 mx-auto justify-content-center">
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="https://firebasestorage.googleapis.com/v0/b/milano-nail-spas.appspot.com/o/spas%2Fwynnewood-village%2Fpackages-images%2Fmanicure%2Fclassic-manicure.webp?alt=media&token=ec8da5a3-a234-4a13-bb84-c3fa315197c7">
                    <h3 class="card-title pricing-card-title mt-3">Classic Manicure</h3>
                    <p><strong>from $25</strong></p>
                    <div class="package-divider"></div>
                    <p>A simple, elegant treatment to keep your nails looking fresh and polished.
                    Includes trimming & shaping, cuticle care, buffing, and your choice of polish.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/classic-delux-manicure.jpg">
                    <h3 class="card-title pricing-card-title mt-3">Classic Deluxe Manicure</h3>
                    <p><strong>from $35</strong></p>
                    <div class="package-divider"></div>
                    <p>Upgrade your manicure with added relaxation and care.
                    Includes trimming & shaping, cuticle care, buffing, and polish with enhanced attention for smoother, healthier nails.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/mani-spa.jpeg">
                    <h3 class="card-title pricing-card-title mt-3">Spa Manicure Exfoliating</h3>
                    <p><strong>from $45</strong></p>
                    <div class="package-divider"></div>
                    <p>Indulge in a rejuvenating spa experience.
                    Includes sugar scrub exfoliation, hot towel wrap, keratin gloves, trimming & shaping, cuticle care, buffing, relaxing
                    massage, and polish of your choice.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="nail-enhanced py-4 py-md-5">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">NAIL ENHANCEMENTS</h1>
        <p class="fs-5 text-body-secondary">Fantastic Nails & Spa</p>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center w-75 mx-auto justify-content-center">
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/dipping-powder.webp">
                    <h3 class="card-title pricing-card-title mt-3">Dipping Powder</h3>
                    <p><strong>from $49</strong></p>
                    <div class="package-divider"></div>
                    <p>(2 Weeks of Professional Wear) Experience the luxurious and healthy alternative to traditional acrylics. Our non-toxic,
                    odorless Dipping Powder offers exceptional durability, a lightweight feel, and a gentle application process. Infused
                    with nourishing vitamins, it promotes healthy nail growth while ensuring a stunning manicure.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/acrylic-set.avif">
                    <h3 class="card-title pricing-card-title mt-3">Acrylic Set</h3>
                    <p><strong>from $51</strong></p>
                    <div class="package-divider"></div>
                    <p>(2-3 Weeks of Professional Wear) Acrylic nails, crafted from liquid monomer and powder polymer, offer a versatile canvas
                    for stunning nail art. These extensions enhance your natural nails with added length, strength, and thickness, providing
                    a blank slate for creative expression, and showcasing intricate designs.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/builder-gel.webp">
                    <h3 class="card-title pricing-card-title mt-3">Builder Gel Set</h3>
                    <p><strong>from $62</strong></p>
                    <div class="package-divider"></div>
                    <p>A premium, natural-looking enhancement that is strong yet lightweight. Builder gel protects your natural nails while
                    allowing growth, offering flexibility and a glossy finish with low odor.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/hybrid-gel.jpg">
                    <h3 class="card-title pricing-card-title mt-3">Hybrid Gel</h3>
                    <p><strong>from $62</strong></p>
                    <div class="package-divider"></div>
                    <p>A modern solution combining durability and flexibility for long-lasting, high-shine nails. Ideal for clients seeking
                    both strength and a natural appearance.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pedicures py-4 py-md-5">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">PEDICURES</h1>
        <p class="fs-5 text-body-secondary">Fantastic Nails & Spa</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center w-75 mx-auto justify-content-center">
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/classic-pedicure.jpg">
                    <h3 class="card-title pricing-card-title mt-3">Classic Pedicure</h3>
                    <p><strong>from $37</strong></p>
                    <div class="package-divider"></div>
                    <p>Refresh and restore tired feet with this essential treatment.
                    Includes nail trimming, shaping, cuticle care, and polish, finished with a soothing peppermint experience to energize
                    your senses.
                    </p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/deluxe-pedicure.webp">
                    <h3 class="card-title pricing-card-title mt-3">Classic Deluxe Pedicure</h3>
                    <p><strong>from $49</strong></p>
                    <div class="package-divider"></div>
                    <p>Go beyond the basics with a more relaxing and nourishing experience.
                    Includes exfoliating scrub, mask, hot towels, extended massage, and polish—perfect for relieving dry skin and tension.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/detox-pedi.jpg">
                    <h3 class="card-title pricing-card-title mt-3">Detox Spa Pedicure</h3>
                    <p><strong>from $55</strong></p>
                    <div class="package-divider"></div>
                    <p>A cleansing treatment designed to detoxify and rejuvenate your feet, leaving them refreshed and revitalized.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/jelly-spa.webp">
                    <h3 class="card-title pricing-card-title mt-3">Relaxing Jelly Spa</h3>
                    <p><strong>from $59</strong></p>
                    <div class="package-divider"></div>
                    <p>Enjoy a unique jelly soak that softens skin, relieves stress, and provides deep hydration for silky-smooth feet.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-2 border-warning bg-black text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/organic-pedi.jpg">
                    <h3 class="card-title pricing-card-title mt-3 text-warning">Ultimate Organic Collagen Pedicure</h3>
                    <p class="text-warning"><strong>from $65</strong></p>
                    <div class="package-divider"></div>
                    <p class="text-warning">Replenish and nourish your skin with collagen-rich treatments that improve elasticity, hydration, and overall foot
                    health.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-2 border-warning text-center h-100 bg-black" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/Volcano-spa.webp">
                    <h3 class="card-title pricing-card-title mt-3 text-warning">Ultimate Volcano Pedicure</h3>
                    <p class="text-warning"><strong>from $70</strong></p>
                    <div class="package-divider"></div>
                    <p class="text-warning">A luxurious spa experience featuring a bubbling volcano soak, exfoliation, and deep hydration for the ultimate
                    relaxation and skin renewal.</p>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="waxing-service py-4 py-md-5" style="background-color: #f5f2eb;">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">WAXING SERVICES</h1>
        <p class="fs-5 text-body-secondary">Fantastic Nails & Spa</p>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center w-75 mx-auto justify-content-center">
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Eyebrows</h3>
                    <p><strong>from $14</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Lip</h3>
                    <p><strong>from $10</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Chin</h3>
                    <p><strong>from $10</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Underarm</h3>
                    <p><strong>from $27</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Bikini</h3>
                    <p><strong>from $52</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Full Leg</h3>
                    <p><strong>from $72</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Half Leg</h3>
                    <p><strong>from $45</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Full Arm</h3>
                    <p><strong>from $32</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Facial Wax</h3>
                    <p><strong>from $52</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Eyelash</h3>
                    <p><strong>from $45</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div class="card mb-4 rounded-3 shadow-sm border-warning text-center h-100" style="overflow: visible;">
                <div class="card-body d-flex flex-column align-items-center">
                    <img alt="Classic Manicure"
                        style="width: 180px; height: 180px; object-fit: cover; margin-top: -90px; border-radius: 10px;"
                        src="images/services/waxing-img.png">
                    <h3 class="card-title pricing-card-title mt-3">Eyebrows Color</h3>
                    <p><strong>from $30</strong></p>
                    <div class="package-divider"></div>
                    <!-- <button class="btn btn-warning mt-auto px-4">Make an appointment</button> -->
                </div>
            </div>
        </div>


    </div>
</section>






<%- include("partials/footer.ejs") %>